@font-face {
    font-family: Wisdom script;
    src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 15px;
}

/****GRID****/
.full-width {
    width: 1200px
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/****HEADER****/

h1 {
    text-transform: uppercase;
    font-size: 30px;
}

h1 span {
    color:#77a466;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 15px 15px 0 0;
}

nav ul li a {
    text-decoration: none;
    color: #77a466;
    font-size:14px;
    text-transform: uppercase; 
    font-weight: bold;
}

/****WELCOME****/

img {
    border: 5px solid #77a466;
}

#welcome h2 {
    font-weight: bold;
    color: #77a466;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 23px;
}

#welcome p {
    line-height: 25px;
    padding-bottom: 20px;
}

/****INFO SECTION****/

#info .full-width {
    height: 200px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#info h3 {
    text-transform: uppercase;
    font-size: 12px;
}

#specials a {
    color: #77a466;
    text-decoration: none;
}
   
#specials li {
    text-transform: uppercase;
    list-style: none;
    text-indent: -40px;
    padding-bottom: 15px;
}

#reviews {
    width: 340px;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid lightgray;
}

#contact {
    width: 300px;
    padding-left: 50px;
    height: 200px;
    border-left: 1px solid lightgray;
}

/****FOOTER****/

footer {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
}

#fresh span {
    color: #77a466;
    font-family: wisdom script;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 16px;
}
